[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = A vulnerability patch gathering tool
[access "refs/*"]
	owner = group user/amiangshu
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/amiangshu
	label-Verified = -1..+1 group user/amiangshu
	push = group user/amiangshu
	read = group user/amiangshu
	rebase = group user/amiangshu
	removeReviewer = group user/amiangshu
	submit = group user/amiangshu
[access "refs/heads/*"]
	create = group user/amiangshu
	push = +force group user/amiangshu
	pushMerge = group user/amiangshu
	read = group user/amiangshu
[access "refs/tags/*"]
	push = group user/amiangshu
	push = +force group user/amiangshu
